section {
    width: 100%;
    background: #202945;
    color: white;
}

h1 {
    font-family: 'Playfair-Display', serif;
    font-style: italic;
    font-size: 1.5em;
    letter-spacing: 0;
}

form {
    margin-top: 35px;
}

input:focus {
    outline: none;
}

::placeholder {
    color: white;
}

::-ms-input-placeholder {
    color: white;
}

.field {
    display: block;
    height: 20px;
    width: calc(100% - 50px);
    max-width: 340px;
    padding: 10px;
    background: rgba(255, 255, 255, 0);
    border-radius: 14px;
    border: white solid 1px;
    color: white;
    text-align: center;
    margin: 0 auto 30px auto;
    font-family: 'Lato', sans-serif;
}

.submit {
    display: block;
    height: 40px;
    max-width: 180px;
    border: none;
    border-radius: 14px;
    background: rgba(255, 255, 255, .50);
    text-align: center;
    margin: 0 auto;
    color: white;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    position: relative;
    overflow: hidden;
}